pandas==2.2.3
numpy==2.2.5
seaborn==0.13.2
scikit-learn==1.6.1
matplotlib==3.10.1
streamlit==1.45.0
ipykernel==6.15.0
joblib==1.4.2
plotly.express==0.4.1
plotly==5.22.0
statsmodels==0.14.4
scipy==1.16.0